// Esquemas de Colores

//Primer esquema de color

$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;

//Segundo esquema de color

$smoky-black: #0c0910;
$nickel: #0c0911;
$granite-gray: #646466;
$quick-silver: #a6a5a8;


// Esquema de Tipografias

$standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;


// Pesos de fuente

$regular: 400;
$bold: 700;

// Pesos de fuentes

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
