
@media only screen and (min-width: 1024px){
  * {
    box-sizing: border-box;

  }

  .row__box {
    padding: 2rem 6rem 5.4rem 4rem;
    background-color: $white;
    width: 40vw;
  }

  .row__box__box2 {
    padding: 1.25rem 9.5rem 1.25rem 0;
    line-height : 1.6rem;
  }

}


@media only screen and (max-width: 768px){
  * {
    box-sizing: border-box;
  }

  .row__box {
    padding: 2rem 15rem 4rem 4rem;
    margin-top: 74vh;
  }

  .row__box__box2 {
    padding: 3rem 2rem 3rem 0rem;
    line-height : 1.6rem;
  }
  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

@media only screen and (max-width: 375px){

  * {
    box-sizing: border-box;
  }

  .row__box {
  padding: 5rem 2rem 1rem 3rem;
  margin-top: 46vh;
  }

  .row__box__box2 {
    padding: 2rem 6rem 1rem 0rem;
    line-height : 1.6rem;
  }

}
